/*
0 - 600px : Phone
600 - 768px : portrait tablets 
768px - 992px : landscape tablets
992px - 1200px: mini-laptops/desktops
1200 - 1800px : laptops .....my desktop
1800px+: Big desktops
*/
/*

$breakpoints 
-phone
-tab-port
-tab-land
-mini-lap
-desktop
-big-desktop

*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  color: #000;
  font-size: 93.75%; }

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", sans-serif; }

section {
  padding: 5rem 3rem; }

.btn {
  padding: 0.8rem 2rem;
  border-radius: 1.6rem;
  outline: none;
  border: 0;
  color: #fff;
  background-color: #f1590e;
  text-decoration: none;
  display: block;
  position: relative;
  z-index: 20; }
  .btn:hover {
    cursor: pointer; }

.tab-active {
  border-width: 1px;
  border-style: solid solid none solid;
  border-color: #f1590e;
  color: #f1590e;
  background-color: rgba(241, 89, 14, 0.01); }

.underline {
  position: relative;
  padding-bottom: 0.2rem; }
  .underline::before {
    position: absolute;
    bottom: 0;
    content: "";
    width: 1.5rem;
    height: 2px;
    background-color: #f1590e;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.color {
  color: #f1590e; }

.nav {
  position: relative;
  padding: 1rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 5; }
  .nav__logo:hover {
    cursor: pointer; }
  .nav__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none; }
    .nav__link-list {
      margin: 0 2rem; }
      .nav__link-list:last-child {
        margin-right: 0; }
      .nav__link-list--item {
        text-decoration: none;
        color: #000;
        cursor: pointer;
        font-weight: 500; }
  .nav__button {
    padding: 0.8rem 2rem;
    border-radius: 1.6rem;
    text-decoration: none;
    display: block; }

.wave {
  height: 70vh;
  width: 100%;
  position: absolute;
  background-image: url(../../images/wave.png);
  background-position: 0% 100%; }

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .hero__welcome-main {
    font-size: 2.5rem;
    margin-bottom: 2rem; }
  .hero__welcome-sub {
    font-size: 1.2rem;
    margin-bottom: 2rem; }
  .hero__welcome-button {
    display: inline-block;
    margin-top: 1rem; }
  .hero__cta {
    padding: 0rem 1.5rem;
    width: 24rem;
    position: relative;
    z-index: 10;
    background: #fff;
    -webkit-box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.2);
    border-radius: 0.95rem;
    padding-bottom: 5rem; }
    .hero__cta > * {
      margin: 2rem 0; }
    .hero__cta-step {
      font-weight: 500; }
    .hero__cta-progress {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .hero__cta-progress--bar {
        width: 16em;
        height: 0.7em;
        border-radius: 0.35em;
        background-color: rgba(241, 89, 14, 0.26);
        position: relative; }
        .hero__cta-progress--bar::before {
          content: "";
          background-color: #f1590e;
          position: absolute;
          width: 60%;
          height: 0.7em;
          border-radius: 0.35em; }
    .hero__cta-text {
      font-weight: 600;
      font-size: 1.25rem; }
    .hero__cta-option {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .hero__cta-option--tab {
        cursor: pointer;
        padding: 0.5rem 1.2rem;
        display: inline-block;
        border-radius: 3px 3px 0px 0px;
        font-weight: 500; }
      .hero__cta-option .radio {
        display: none; }
    .hero__cta-heading {
      font-size: 1rem;
      margin-bottom: -1rem; }

select {
  width: 100%;
  padding: 0.6rem;
  position: relative; }

.leverage__heading {
  text-align: center;
  font-weight: 700; }

.leverage-us {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .leverage-us__about {
    font-weight: 600; }
    .leverage-us__about-main {
      color: #f1590e; }
    .leverage-us__about-sub {
      font-size: 1.875rem; }
  .leverage-us__text {
    font-weight: 500; }

.leverage__leverage {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .leverage__leverage > * {
    border: 1px solid #cbc8c8;
    width: 25%;
    padding: 3rem 1rem; }
    .leverage__leverage > * img {
      width: 5rem;
      height: 5rem;
      -o-object-fit: contain;
         object-fit: contain;
      display: inline-block; }
    .leverage__leverage > * > p {
      margin-top: 1rem; }
      .leverage__leverage > * > p:nth-child(2) {
        font-weight: 500;
        font-size: 1.2rem; }
      .leverage__leverage > * > p:nth-child(3) {
        font-size: 0.9rem; }

.process__heading {
  text-align: center;
  font-weight: 700; }

.process__stage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .process__stage > * {
    width: 28%;
    padding: 3rem 1rem; }
    .process__stage > * img {
      max-width: 100%;
      height: auto;
      display: inline-block; }
    .process__stage > * > p {
      margin-top: 1rem; }
      .process__stage > * > p:nth-child(2) {
        font-weight: 500;
        font-size: 1.2rem; }
      .process__stage > * > p:nth-child(3) {
        font-size: 0.9rem; }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -o-linear-gradient(356.16deg, rgba(241, 89, 14, 0.81) 41.47%, #f1590e 102.88%);
  background: linear-gradient(93.84deg, rgba(241, 89, 14, 0.81) 41.47%, #f1590e 102.88%); }
