.curve_bitcoin {
  height: 60vh;
  width: 100%;
  position: absolute;
  background-image: url(../../images/curve_bitcoin.svg);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  top: -10px;

  @include respond(tab-land) {
    height: 50vh;
  }

  @include respond(tab-port) {
    height: 45vh;
  }

  @include respond(sm-phone) {
    display: none;
  }
}

.bitcoin-hero {
  position: relative;
  z-index: 100;

  @include respond(sm-phone) {
    background-color: $color-yellow;
    padding-bottom: 5rem;
  }

  &__header {
    display: none;

    @include respond(sm-phone) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-right {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      color: $color-white;

      p {
        font-size: 1.1rem;
      }

      img {
        display: block;
        width: 1.1rem;
        height: 2rem;
      }
    }
  }

  &__text {
    margin-top: 4rem;
    text-align: center;
    color: $color-white;
    font-size: 1.5rem;
    font-weight: 500;

    @include respond(mini-lap) {
      margin-top: 1rem;
      margin-bottom: 2rem;
    }

    @include respond(tab-port) {
      padding-bottom: 0.8rem;
      margin-top: 4rem;
    }

    &-welcome {
      margin-bottom: 0.5rem;
    }

    &-amountBTC {
      font-size: 1.1rem;
    }

    &-amountNaira {
      font-weight: 300;
      font-size: 0.8rem;
    }
  }
}

// ======================================== DASHBOARD BITCOIN ACTIVITES SECTION ==================================================//

.dashboard-bitcoin {
  position: relative;
  z-index: 800;
  margin-top: -8rem;

  @include respond(mini-lap) {
    margin-top: -5rem;
  }

  @include respond(tab-land) {
    margin-top: -6rem;
  }

  @include respond(sm-phone) {
    margin-top: -2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-color: $color-white;
  }

  &__options {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 45%;
    margin: 0 auto;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: $color-white;
    padding: 2.5rem 1.5rem 1.5rem;

    @include respond(mini-lap) {
      width: 60%;
      padding: 1.5rem 1rem;
    }

    @include respond(tab-land) {
      width: 70%;
    }

    @include respond(tab-port) {
      width: 90%;
      padding: 1rem;
    }

    @include respond(sm-phone) {
      width: 100%;
      padding: 1rem;
      margin-top: -5rem;
    }

    @include respond(smallest) {
      width: 100%;
      padding: 0rem;
    }

    a {
      display: flex;
      flex-direction: column;
      color: $color-primary;
      text-decoration: none;
      align-items: center;

      img {
        display: inline-block;

        @include respond(sm-phone) {
          width: 56px;
          height: 56px;
        }
      }

      h4 {
        @include respond(tab-port) {
          font-size: 0.9rem;
        }
        @include respond(sm-phone) {
          font-size: 0.7rem;
        }
      }
    }

    //for the smaller images
    &-trade,
    &-more {
      &--img {
        padding: 1rem;
      }
    }

    &-more {
      &--img {
        @include respond(tab-port) {
          padding-top: 1.2rem;
        }
      }
    }
  }

  &__transaction {
    text-align: center;
    margin: 3rem auto;

    img {
      display: inline-block;
    }

    &-text {
      font-weight: 500;
      color: #525050;
      font-size: 1.2rem;
    }
  }

  &__start {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5rem auto;
    padding: 1.2rem 1rem;
    width: 20%;
    border-radius: 8px;
    text-decoration: none;
    gap: 0.5rem;
    color: $color-white;
    background-color: $color-primary;

    @include respond(mini-lap) {
      width: 30%;
    }

    @include respond(tab-land) {
      width: 40%;
    }

    @include respond(tab-port) {
      width: 60%;
    }

    @include respond(sm-phone) {
      width: 70%;
    }

    @include respond(smallest) {
      width: 90%;
    }

    img {
      display: inline-block;
    }

    .text {
      h3 {
        font-weight: 300;
      }
    }
  }
}
