.wave {
  height: 70vh;
  width: 100%;
  position: absolute;
  background-image: url(../../images/wave.png);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;

  @include respond(tab-land) {
    height: 60vh;
  }

  @include respond(tab-port) {
    height: 50vh;
  }
}

//============ Hero Section ===================//
.hero {
  display: flex;
  justify-content: space-between;

  @include respond(tab-port) {
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    gap: 5rem;
  }
  &__welcome {
    width: 45%;

    @include respond(tab-port) {
      width: 100%;
    }
    &-main {
      font-size: 2.5rem;
      margin-bottom: 2rem;

      @include respond(mini-lap) {
        font-size: 2rem;
      }

      @include respond(tab-land) {
        font-size: 1.5rem;
      }

      @include respond(tab-port) {
        margin-bottom: 1rem;
      }
    }

    &-sub {
      font-size: 1.2rem;
      margin-bottom: 2rem;

      @include respond(mini-lap) {
        font-size: 1rem;
      }

      @include respond(tab-land) {
        font-size: 0.8rem;
        margin-right: 1rem;
      }

      @include respond(tab-port) {
        margin-bottom: 1rem;
      }
    }

    &-button {
      display: inline-block;
      margin-top: 1rem;
    }
  }

  &__cta {
    padding: 0rem 1.5rem;
    width: 33rem;
    z-index: 10;
    background: $color-white;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.2);
    border-radius: 0.95rem;
    padding-bottom: 3rem;

    @include respond(tab-port) {
      width: 32rem;
    }

    @include respond(sm-phone) {
      width: 21rem;
    }

    @include respond(smallest) {
      width: 18rem;
    }

    & > * {
      margin: 2rem 0;
    }

    &-step {
      font-weight: 500;
    }

    &-progress {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &--bar {
        width: 20em;
        height: 0.7em;
        border-radius: 0.35em;
        background-color: rgba($color-primary, 0.26);
        position: relative;

        @include respond(tab-port) {
          width: 20rem;
        }

        &::before {
          content: "";
          background-color: $color-primary;
          position: absolute;
          width: 60%;
          height: 0.7em;
          border-radius: 0.35em;
        }
      }
    }

    &-text {
      font-weight: 600;
      font-size: 1.25rem;

      @include respond(tab-land) {
        font-size: 1.1rem;
      }

      @include respond(tab-port) {
        font-size: 1rem;
      }
    }

    &-option {
      display: flex;
      align-items: center;

      &--tab {
        cursor: pointer;
        padding: 0.5rem 1.2rem;
        display: inline-block;
        border-radius: 3px 3px 0px 0px;
        font-weight: 500;
      }

      .radio {
        display: none;
      }
    }
    &-heading {
      font-size: 1rem;
      margin-bottom: -1rem;

      @include respond(tab-port) {
        font-size: 0.8rem;
        margin-bottom: -1.5rem;
      }
    }
  }
}

select {
  width: 100%;
  padding: 0.6rem;
  position: relative;

  @include respond(tab-port) {
    font-size: 0.8rem;
  }
}

//============ Leverage Section ===================//

.leverage {
  &__heading {
    text-align: center;
    font-weight: 700;
  }

  &-us {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(mini-lap) {
      margin-top: 3rem;
    }

    @include respond(tab-port) {
      flex-direction: column;
      gap: 2rem;
    }

    &__about {
      width: 40%;
      font-weight: 600;

      @include respond(mini-lap) {
        width: 45%;
      }

      @include respond(tab-port) {
        width: 100%;
      }
      &-main {
        color: $color-primary;
      }

      &-sub {
        font-size: 1.875rem;

        @include respond(mini-lap) {
          font-size: 1.6rem;
        }

        @include respond(tab-land) {
          font-size: 1.3rem;
        }
      }
    }

    &__text {
      width: 45%;
      font-weight: 500;

      @include respond(mini-lap) {
        font-size: 1rem;
      }
      @include respond(tab-land) {
        font-size: 0.8rem;
      }

      @include respond(tab-port) {
        width: 100%;
      }
    }
  }

  &__leverage {
    margin-top: 7rem;
    display: flex;
    justify-content: space-between;

    @include respond(tab-port) {
      flex-direction: column;
      gap: 2rem;
    }

    & > * {
      border: 1px solid $color-ash;
      width: 28%;
      padding: 3rem 1rem;

      @include respond(mini-lap) {
        width: 31%;
        padding: 2rem 1rem;
      }

      @include respond(tab-port) {
        width: 100%;
      }

      img {
        width: 5rem;
        height: 5rem;
        object-fit: contain;
        display: inline-block;
      }

      & > p {
        margin-top: 1rem;

        &:nth-child(2) {
          font-weight: 500;
          font-size: 1.2rem;

          @include respond(tab-land) {
            font-size: 1rem;
          }
        }

        &:nth-child(3) {
          font-size: 0.9rem;

          @include respond(tab-land) {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

//============ Process Section ===================//
.process {
  &__heading {
    text-align: center;
    font-weight: 700;
  }

  &__stage {
    display: flex;
    justify-content: space-between;

    @include respond(tab-port) {
      flex-direction: column;
    }

    & > * {
      width: 28%;
      padding: 3rem 1rem;

      @include respond(tab-port) {
        width: 100%;
      }

      img {
        max-width: 100%;
        height: auto;
        display: inline-block;
      }

      & > p {
        margin-top: 1rem;

        &:nth-child(2) {
          font-weight: 500;
          font-size: 1.2rem;

          @include respond(mini-lap) {
            font-size: 1.1rem;
            font-weight: 600;
          }
        }

        &:nth-child(3) {
          font-size: 0.9rem;

          @include respond(mini-lap) {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

//============ Information Section ===================//
.info {
  padding-top: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $color-white;
  background: linear-gradient(
    93.84deg,
    rgba(241, 89, 14, 0.81) 41.47%,
    #f1590e 102.88%
  );

  @include respond(mini-lap) {
    padding-top: 5rem;
  }

  @include respond(tab-port) {
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
  }

  &__text {
    width: 45%;

    @include respond(mini-lap) {
      width: 60%;
    }

    @include respond(tab-port) {
      width: 100%;
    }

    &-main {
      font-weight: 600;
      font-size: 1.875rem;
      margin-bottom: 1rem;

      @include respond(mini-lap) {
        font-weight: 500;
        font-size: 1.6rem;
      }

      @include respond(tab-land) {
        font-size: 1.3rem;
      }
    }

    &-sub {
      margin-top: 2rem;
      font-size: 0.9rem;
    }
  }

  &__button {
    border: 2px solid $color-ash;
    border-radius: 2px;
    margin-right: 8rem;

    @include respond(mini-lap) {
      margin-right: 2rem;
    }
  }
}

//============ FAQ ===================//

.faq {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include respond(tab-port) {
    flex-direction: column;
    gap: 2rem;
  }

  &__image {
    img {
      display: inline-block;

      @include respond(mini-lap) {
        width: 40vw;
      }

      @include respond(tab-port) {
        width: 100%;
      }
    }
    @include respond(tab-port) {
      order: 1;
    }
  }

  &__question {
    width: 50%;

    @include respond(mini-lap) {
      width: 55%;
    }

    @include respond(tab-port) {
      width: 100%;
      order: 0;
    }

    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;

      @include respond(mini-lap) {
        margin-bottom: 1rem;
      }

      h2 {
        font-weight: 600;

        @include respond(mini-lap) {
          font-weight: 500;
          font-size: 1.2rem;
        }

        @include respond(tab-land) {
          font-size: 1.1rem;
        }

        @include respond(tab-port) {
          font-size: 0.8rem;
        }
      }

      a {
        text-decoration: none;
        color: $color-black;
        font-weight: 500;

        @include respond(tab-port) {
          font-size: 0.8rem;
          font-weight: 400;
        }
      }
    }

    &-container {
      position: relative;
      margin: 1rem;

      &--label {
        position: relative;
        padding: 0.7rem 1rem;
        cursor: pointer;
        font-size: 1.1rem;
        font-weight: 500;
        transition: 0.5s;

        @include respond(tab-land) {
          font-weight: 400;
          font-size: 1rem;
          padding: 0.7rem 0rem;
        }

        @include respond(tab-port) {
          font-size: 0.8rem;
        }

        &::before {
          content: " ";
          position: absolute;
          top: 50%;
          right: -5px;
          transform: translateY(-50%);
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-bottom: 6px solid $color-black;
          transition: 0.5s;
        }
      }

      &--answer {
        position: relative;
        max-height: 0;
        overflow: hidden;
        transition: 0.5s;
        padding: 0 1rem;

        @include respond(tab-port) {
          padding: 0rem;
          font-size: 0.7rem;
          font-weight: 300;
        }
      }
    }

    &-container.active &-container--answer {
      max-height: 15rem;
    }

    &-container.active &-container--label::before {
      content: " ";
      position: absolute;
      transform: rotate(180deg);
      transition: 0.5s;
    }
  }
}

//============ CTA ===================//
.cta {
  text-align: center;
  position: relative;
  padding-bottom: 10rem;

  @include respond(tab-land) {
    padding-bottom: 5rem;
  }

  &__heading {
    font-size: 2.5rem;

    @include respond(tab-land) {
      font-size: 2rem;
    }
  }
  &__sub {
    margin: 2rem 0;
    font-weight: 500;
    font-size: 0.9rem;
  }

  &__button {
    display: inline-block;
    border-radius: 5px;
  }

  &-wave {
    height: 5.5rem;
    width: 100%;
    position: absolute;
    background-image: url(../../images/wave_2.png);
    bottom: -3px;
    left: 0;
    background-repeat: no-repeat;
  }
}

// ======================================== DASHBOARD HOME SECTION ==================================================//

.curve {
  height: 60vh;
  width: 100%;
  position: absolute;
  background-image: url(../../images/curve.png);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  top: -10px;
}

.dashboard {
  .nav {
    &__link {
      &-list {
        &--item {
          color: $color-white;
        }
      }
    }

    &__button {
      background-color: #fff;
      color: $color-primary;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.4rem;
      position: relative;

      img {
        display: inline-block;
      }
      &::before {
        content: "";
        position: absolute;
        border-top: 5px solid $color-primary;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        top: 50%;
        transform: translate(-50%, -50%);
        right: 10%;
      }
      p {
        margin-right: 0.5rem;
      }
    }
  }
}

.dashboard-hero {
  position: relative;
  z-index: 100;

  &__text {
    margin-top: 4rem;
    text-align: center;
    color: $color-white;
    font-size: 1.5rem;
    font-weight: 500;

    &-welcome {
      margin-bottom: 1rem;
    }
  }
}

// ======================================== DASHBOARD ACTIVITES SECTION ==================================================//

.dashboard-activities {
  position: relative;
  z-index: 800;
  margin-top: -8rem;

  &__options {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background: $color-white;
    padding: 2.5rem 1.5rem 1.5rem;

    a {
      display: flex;
      flex-direction: column;
      color: $color-primary;
      text-decoration: none;
      align-items: center;

      img {
        display: inline-block;
      }
    }

    //for the smaller images
    &-trade,
    &-more {
      &--img {
        padding: 1rem;
      }
    }
  }
}
