.hero__cta {
  &-register {
    &--heading {
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 3rem;
    }
    &--form {
      .input-group {
        margin-top: 1.5rem;
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
        border: 1px solid $color-ash;
        background-color: #fff;
        border-radius: 8px;

        img {
          display: inline-block;
          margin: 0 0.5rem;
        }

        input {
          padding: 1.2rem 10px;
          background-color: #fff;
          color: #383838;
          width: 100%;
          border: none;
          outline: none;
          font-size: 1rem;
          border-radius: 8px;

          &:focus-within {
            background-color: #fff;
          }
        }
        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active {
          box-shadow: 0 0 0 90px white inset !important;
        }

        input:focus::-webkit-input-placeholder {
          color: transparent;
        }

        label {
          position: absolute;
          opacity: 0;
          visibility: hidden;
          font-size: 0.9rem;
          background-color: #fff;
          transition: 500ms opacity ease-in;
          font-weight: 500;
          padding: 0 10px;
          color: #383838;
        }

        &:focus-within label,
        input:not(:placeholder-shown) ~ label {
          top: -20%;
          left: 5%;
          opacity: 1;
          visibility: visible;
        }
      }

      .sumbit-btn {
        display: flex;
        justify-content: center;
        margin-top: 2rem;

        input {
          border-radius: 8px;
          font-size: 1.2rem;
          font-weight: 600;
          padding: 1rem 2rem;
        }
      }
    }
  }
}
