.popup,
.receive-popup {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 800;
  opacity: 0;
  visibility: hidden;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &-more {
    @include absCenter;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.1);
    background: $color-white;
    z-index: 999;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.5s 0.3s;

    @include respond(mini-lap) {
      padding: 2rem;
    }

    @include respond(tab-land) {
      width: 60%;
      padding: 1.5rem 1rem;
    }

    @include respond(tab-port) {
      width: 70%;
      padding: 1rem;
    }

    @include respond(sm-phone) {
      left: 0%;
      bottom: 0%;
      top: auto;
      transform: translate(0%, 0%) scale(0.5);
      width: 100%;
      border-radius: 8px 8px 0px 0px;
      // padding-top: 5rem;
    }

    a {
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 1.5rem;
      color: $color-primary;
      font-size: 1.2rem;
      font-weight: 300;
      width: 28%;

      @include respond(tab-port) {
        font-size: 1.1rem;
        gap: 1rem;
      }
    }

    img {
      display: inline-block;
      border-radius: 50%;
      padding: 0.8rem;
      background-color: $color-primary;

      @include respond(tab-port) {
        padding: 0.5rem;
        width: 40px;
        height: 40px;
      }
    }

    &__back {
      display: none;

      @include respond(sm-phone) {
        display: block;
      }
      a {
        width: 35%;
        gap: 0.5rem;
        img {
          height: 1.5rem;
          width: 1.5rem;
          display: block;
          border-radius: 0%;
          padding: 0rem;
          background-color: white;
        }
      }

      p:nth-child(3) {
        font-size: 1.1rem;
        margin-top: 1.5rem;
        margin-left: 1rem;
        font-weight: 500;
      }
    }
  }

  &:target &-more {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);

    @include respond(sm-phone) {
      transform: translate(0%, 0%) scale(1);
    }
  }
}

// For the receive popup
.receive-popup {
  img {
    display: inline-block;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: unset;
    background-color: transparent;
  }

  .popup-more {
    top: 70vh !important;
    padding: 1rem 1rem 3rem 1rem;

    p:nth-last-child(3) {
      font-weight: 600;
      font-size: 1.5rem;
      margin-left: 1rem;
    }
  }
  &__goBack {
    width: 30% !important;
    gap: 0 !important;
    display: flex;

    p {
      color: $color-primary !important;
    }
  }

  &__info {
    background-color: rgba($color-black, 0.33);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 1rem;
    text-align: center;
    font-size: 0.8rem;
    color: $color-white;
    border-radius: 4px;

    img {
      display: block;
      width: 2.5rem;
      height: auto;
    }
  }

  &__coinAddress {
    border: 2px solid red;
    margin-top: 1.5rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid $color-ash;
    background-color: $color-white;
    border-radius: 8px;

    img {
      display: inline-block;
      width: 3.5rem;
      height: 3.5rem;
    }

    input {
      padding: 1.2rem 1.5rem;
      padding-left: 0.2rem;
      background-color: $color-white;
      color: #383838;
      width: 100%;
      border: none;
      outline: none;
      font-size: 1rem;
      border-radius: 8px;
      font-weight: 500;

      &:focus-within {
        background-color: #fff;
      }
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      box-shadow: 0 0 0 90px white inset !important;
    }

    input:focus::-webkit-input-placeholder {
      color: transparent;
    }

    ::placeholder {
      color: rgb(158, 153, 153);
      font-size: 1rem;
      font-weight: 600;
    }

    label {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      font-size: 0.8rem;
      background-color: #fff;
      transition: 500ms opacity ease-in;
      font-weight: 600;
      padding: 5px 15px;
      color: #383838;
    }

    &:focus-within label,
    input:not(:placeholder-shown) ~ label {
      top: -28%;
      left: 5%;
      opacity: 1;
      visibility: visible;
    }
  }
}

.close-popup {
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba($color-black, 0.8);
}

// ====== popup transaction success =========//
.popup-background {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 800;
  opacity: 0;
  visibility: hidden;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  .popup-success,
  .popup-failure {
    @include absCenter;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.1);
    background: $color-white;
    z-index: 999;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.5s 0.3s;

    @include respond(mini-lap) {
      width: 40%;
    }

    @include respond(tab-land) {
      width: 50%;
      padding: 2rem;
    }

    @include respond(tab-port) {
      width: 70%;
    }

    @include respond(sm-phone) {
      width: 90%;
      left: 5%;
      top: 30%;
    }

    &__img {
      display: inline-block;
      width: 4rem;
      height: 4rem;
    }

    &__text {
      font-weight: 500;
      text-align: center;

      h4 {
        margin-bottom: 1rem;
      }

      p {
        font-size: 0.8rem;
        font-weight: 400;
      }
    }

    &__view {
      border-radius: 3px;
    }

    //Close on tap
    &__close {
      text-decoration: none;
      cursor: pointer;
      width: 100%;
      height: 100%;
      display: block;
      background-color: rgba($color-black, 0.8);
    }
  }

  &:target .popup-success,
  &:target .popup-failure {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);

    @include respond(sm-phone) {
      transform: translate(0%, 0%) scale(1);
    }
  }
}
