*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  color: $color-black;
  font-size: 93.75%;
}

body {
  box-sizing: border-box;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

section {
  padding: 5rem;

  @include respond(mini-lap) {
    padding: 4rem;
  }

  @include respond(tab-land) {
    padding: 3rem;
  }

  @include respond(tab-port) {
    padding: 2rem;
  }
}
